.password-strength-container {
  margin-top: 6px;
  display: flex;
  flex-direction: column; /* vertical stacking */
  align-items: flex-start; /* left align label */
}

.password-strength-bars {
  display: flex;
  gap: 4px;
  margin-bottom: 4px; /* spacing between bars and label */
}

.bar {
  width: 175px;
  height: 10px;
  background-color: #ddd;
  border-radius: 2px;
  transition: background-color 0.3s ease;
}

.bar.active.red {
  background-color: #e74c3c; /* red */
}

.bar.active.orange {
  background-color: #f39c12; /* orange */
}

.bar.active.green {
  background-color: #27ae60; /* green */
}

.strength-label {
  font-size: 1.1rem;
  font-weight: 800;
}

.strength-label.red {
  color: #e74c3c;
}

.strength-label.orange {
  color: #f39c12;
}

.strength-label.green {
  color: #27ae60;
}
