/* ResetPassword.css */

.resetPasswordContainer {
  width: 100vw;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to right, #ffffff, #f0f0f0);
  padding: 3vmax 1vmax;
  box-sizing: border-box;
  
}

.resetPasswordBox {
  background-color: #fff;
  padding: 2.5vmax 4vmax;
  border-radius: 1vmax;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
  width: 90%;
  max-width: 450px;
  text-align: center;
  margin-top: -100px;
}

.resetPasswordHeading {
  font-size: 2rem;
  font-weight: 600;
  color: #333;
  margin-bottom: 2vmax;
  text-transform: uppercase;
}

.resetPasswordForm {
  display: flex;
  flex-direction: column;
  gap: 1.5vmax;
}

.resetPasswordForm > div {
  display: flex;
  align-items: center;
  border: 1px solid #ddd;
  border-radius: 0.6vmax;
  padding: 0.6vmax 1vmax;
  background-color: #f9f9f9;
}

.resetPasswordForm > div svg {
  font-size: 1.5vmax;
  color: #555;
  margin-right: 1vmax;
}

.resetPasswordForm input[type="password"] {
  width: 100%;
  border: none;
  outline: none;
  background: transparent;
  font-size: 1rem;
  color: #333;
}

.resetPasswordBtn {
  background-color: #266c39;
  color: white;
  border: none;
  padding: 0.8vmax;
  font-size: 1rem;
  border-radius: 0.6vmax;
  cursor: pointer;
  transition: background 0.3s ease;
}

.resetPasswordBtn:hover {
  background-color: #44965a;
}

@media screen and (max-width: 600px) {
  .resetPasswordBox {
    padding: 2vmax;
  }

  .resetPasswordForm > div svg {
    font-size: 2.2vmax;
  }

  .resetPasswordForm input[type="password"],
  .resetPasswordBtn {
    font-size: 1rem;
  }
}
